
.document .page {
  padding: 0;
  position: relative;
  width: 230mm;
  min-height: 298mm;
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0,0,0,.25);
  background-color: #fff;
}

.document .subpage {
  padding: 0;
  min-height: 200mm;
}

#body {
  padding: 10mm 8mm;
  font-size: 14px;
  font-family: roboto,Arial,sans-serif;
}

#group-header-1 {
  padding-bottom: 120px;
}

#profile {
  display: block;
}

#profile-wraper {
  padding: 0 10px 10px;
  width: 100%;
  position: relative;
}

#profile-avatar-wraper {
  display: block;
  height: 140px;
  width: 140px;
  padding: 3px;
  border: 3px solid #246b81;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 10px;
}

#profile-avatar {
  width: 100%;
  height: 100%;
  border: 2px solid #246b81;
  border-radius: 50%;
}

#profile-info {
  width: 100%;
  padding-left: 140px;
}

#profile-info .info {
  border-bottom: 3px solid #246b81;
  height: 71px;
  color: #246b81;
  position: relative;
}

#profile-fullname {
  font-size: 26px;
  line-height: 1em;
  width: 330px;
  font-weight: 500;
  text-transform: capitalize;
  position: absolute;
  bottom: 6px;
}

.default_min_width_1 {
  min-width: 25pt;
}

#profile-info .contact {
  font-size: 14px;
  color: #494949;
  padding: 3px 0 0 10px;
}

#profile-info .contact .contact-item {
  margin-top: 4px;
  width: 50%;
  float: left;
  position: relative;
  padding-left: 17px;
}

#profile-info .contact .fa {
  color: #494949;
  margin-right: 8px;
  width: 10px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

#profile-phone, #profile-email, #profile-address {
  min-width: 130px;
}

#group-main .block, #group-bottom .block {
  padding: 5px 10px;
  padding-bottom: 15px;
}

.block-header {
  border-bottom: 2px solid #ccc;
  margin-bottom: 8px;
  padding-bottom: 8px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  color: #246b81;
}

.block-body {
  line-height: 1.4em;
  color: #494949;
  font-size: 14px;
  word-break: break-word;
}

#objective {
  margin: .1cm auto;
  width: 100%;
  white-space: pre-line;
}